.container {
    background-color: rgb(196, 212, 208);
    height: 190px;
    width: 400px;
    -webkit-box-shadow: 0px 0px 29px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px -20px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 29px -20px rgba(0,0,0,0.75);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminForm {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.Username {
    margin-bottom: 5px;
    align-items: center;
}

.Password {
    margin-bottom: 5px;
    align-items: center;
}



#usernameBox ,
#passwordBox {
    height: 20px;
    width: 200px;
    text-indent: 10px;
    border-radius: 5px;
    margin: 0 0  10px 0;
    border: 1px solid rgb(0, 0, 0);
}

#usernameBox:focus ,
#passwordBox:focus{
    outline: none;
} 

#submit{
    background-color: aliceblue;
    border: none;
    padding: 5px;
    width: 100px;
    border-radius: 4px;
    margin: 0 0 10px 0;
    cursor: pointer;
}

